
body {
  direction: rtl; /* Ensure the body is set to RTL for hebrew site */
}

.App {
  text-align: center;
  
}


/* src/components/Footer.css */

.footer {
  position: relative; /* Allows positioning inside */
  bottom: 0; /* Aligns it to the bottom */
  width: 100%; /* Full width */
  margin-top: auto; /* Push it down in flex container */
  padding: 0.5rem 0; /* Reduced padding */
  font-size: 0.8rem; /* General font size reduction */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
